<head>
  <title>Gaussian Process Playground</title>
  <style>
  </style>
  <!-- no wifi version -->
  <script src="/javascripts/d3.v5.min.js"></script>
  <script src="/javascripts/math.min.js"></script>

  <!-- <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/4.0.1/math.min.js"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  </head>
  <body>
    <div class="container">
      <h1>Gaussian Process Playground</h1>
      <div class="container" align='center'>
      </div>
    </div>
  </body>
  <script src="/javascripts/plot.js"></script>
  <script src="/javascripts/kernel.js"></script>
  <script src="/javascripts/gp.js"></script>
  </html>
