<html>
<head>
  <title>A D3 chart</title>
  <style>
  </style>
  <!-- no wifi version -->
  <!-- <script src="../js/d3.v5.min.js"></script> -->
  <!-- <script src="../js/math.min.js"></script> -->

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/4.0.1/math.min.js"></script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="container" align='center'>
      </div>
    </div>
  </body>
  <script src="../js/gp.js"></script>
  </html>
